* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-family: -apple-system,
    BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
